{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at Humana.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ object.protocol }}://{{ object.domain }}{% url object.url_name uidb64=object.uid token=object.token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ object.user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ object.site_name }} team{% endblocktrans %}

{% endautoescape %}
